body{
    width: 100%;
    height:100%;
}
header{
    background-image:url("https://opencart.templatetrip.com/OPC08/OPC221_ankle/OPC02/image/cache/catalog/demo/banners/slider-02-1903x1000.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    padding:1rem;
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
    color:black;
    height:40rem;
}
.navigation-header{
   display:flex;
   color:white;
   font-style: italic;
   font-size:1.25rem;
   justify-content:flex-start;
   justify-content:space-evenly;
   margin-top:1rem;
}
.icons{
    display:flex;
}

.cart,.profile,.search{
    margin:1rem;
    height:2rem;
    width:2rem;
}

.profile:hover{
    transform:rotateX(180deg);
    color:orange;
    border:thick solid orange;
}
.cart:hover{
    transform:rotateX(180deg);
    color:orange;
    border:thick solid orange;
}
.search:hover{
    transform:rotateX(180deg);
    color:orange;
    border:thick solid orange;
}
.navigation-header>:hover{
    color:orange;
    text-decoration:none;
}
.home-block{
    display:none;
    position:relative;
}
.home:hover>.home-block{
    display:grid;
    position: absolute;
    grid-template-columns:repeat(5,1fr);
    padding:1rem;
    grid-auto-rows:auto;
    background-color:azure;
    color:black;
    margin:1rem;
    row-gap:1rem;
    top:4rem;
}

.child{
    margin:1rem;
    border-right:thick solid orange;
    text-decoration:underline;
}
.child:hover{
    background-color:darkgrey;
    transform: scale(1.25,1.25);
}
.trending-in-new-Season{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:60vh;
    column-gap: 2rem;
    margin-top: 2rem;
    margin-left:2rem;
    border:thin solid grey;
    padding:3rem;
    background-color: rgb(255, 248, 248);
}
.text-trending{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    font-size:2rem;
    font-style: italic;
    color:dimgray;
}
.card-container{
    border:thin solid grey;
    
}
.card-container>img{
    display:inline-block;
     height:45vh;
    width:100%;
}
.card-container>p{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:1rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size:2rem;
}

.bold-text{
    font-size:3rem;
    color:black;
    font-style: italic;
}

.card-container:hover{
    transform:scale(0.5,0.5);
}